/* criar variavel global */

:root, 
[data-bs-theme=light] {
    /* para trocar a cor do que é bg-success, essa clase utiliza essa variavel de cor em rgb para definir */

    --bs-black-rgb: 0,166,3,1;
    --bs-border-color-translucent: black;


    /* --bg-primary: rgb(116, 36, 132);
    --bg-secondary: rgb(151, 151, 206);  */
}